.main {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 5px;
}

.day:hover {
    z-index: 3;
    box-shadow: 0px 0px 20px 0px black;
}

.date {
    color: white;
    background-color: #5594b2;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

.temp {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}
img {
    width: 100px;
    height: 83px;
}
